body {
      background-color: #F8F8F8;
}


h1,
h2 {
      color: #F6C7A1;
      text-shadow: 2px 2px 2px #FF5500, 2px 2px 0px #FF5500;
}

p,
span {
      color: black;
}

.section {
      margin-bottom: 5%;
      margin-left: 10px;
}

.education-item {
      display: block;
}

.education-date {
      display: inline-block;
      width: 120px;
      margin-left: 20px;
}


.link {
      color: #FF5500;
}

.contact-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #FF5500;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
    }
    
    .contact-button:hover {
      background-color: darkorange;
    }