body {
      background-color: #eddccb;
}


h1,
h2 {
      color: #F6C7A1;
      text-shadow: 2px 2px 2px #FF5500, 2px 2px 0px #FF5500;
}

p,
span {
      color: black;
}

.section {
      margin-bottom: 5%;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
}

.education-item {
      display: block;
}

.education-date {
      display: inline-block;
      width: 120px;
      margin-left: 20px;
}


.link {
      color: #FF5500;
}

.contact-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #FF5500;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
}

.contact-button:hover {
      background-color: darkorange;
}

.section-inline {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
}

.education-container {
      flex: 1;
}

.slideshow-container {
      width: 60%;
      margin-left: 20px;
      margin-right: 10px;
      background-color: #bfbdbd;
      outline: #FF5500 solid;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
}

.contact-me-container {
      max-width:50%
}

.heading-right {
      margin-right: 23%;
}